<div class="navbar">
    <a href="#">Profil</a>
    <a href="#">Parcours</a>
    <a href="#">Expériences</a>
    <a href="#">Projets</a>
    <a href="#">Hobbies</a>
    <a href="#">Contacts</a>
  </div>
  <div class="wrapper">
    <div class="sections">
      <a href="#"><div class="section" style="background-image: url(images/profil-carre.jpg);">Mon profil</div></a>
      <a href="#"><div class="section" style="background-image: url(images/scolaire-carre.jpg);">Mon parcours</div></a>
      <a href="#"><div class="section" style="background-image: url(images/pro-carre.jpg);">Mes expériences professionnelles</div></a>
      <a href="#"><div class="section" style="background-image: url(images/contacts-carre.jpg);">Mes contacts</div></a>
      <a href="#"><div class="section" style="background-image: url(images/hobbies-carre.jpg);">Mes hobbies</div></a>
      <a href="#"><div class="section" style="background-image: url(images/projets-carre.jpg);">Mes projets scolaires et personnels</div></a>
    </div>
  </div>
