<div class="gen-img" style="background-image: url(<%= asset_path('projets-paysage') %>);"></div>
<div class="container">
  <div class="content">
    <div>
      <h1><%= action_name.capitalize %></h1>
    </div>
    <div class="texte">Lorem ipsum dolor sit amet, consectetur adipisicing, elit. Suscipit molestiae sit perspiciatis sint quos saepe, nemo rerum quae mollitia tempore soluta blanditiis eum iste quam eveniet voluptatem! Iste, dolorem. Recusandae!
    Esse, optio, reiciendis iure aut quas obcaecati nostrum inventore eos enim accusantium hic, fugit laudantium? Nemo dolorem laborum eos in, excepturi accusamus quasi labore rem repellat veritatis assumenda eum sint!
    Dolore accusantium id, dolor itaque labore quasi accusamus blanditiis rerum, voluptatem, sit optio aliquid? Assumenda excepturi eveniet dicta at, dignissimos dolores sequi corrupti minus. Hic reiciendis, modi repudiandae repellendus necessitatibus.
    Deserunt, qui, sed! Architecto aut similique alias debitis officiis, culpa sequi rerum maxime exercitationem vitae laboriosam magni nobis minima ut commodi molestiae quasi ad nemo. Alias natus eaque blanditiis? Velit.
    Harum quos neque inventore a eius nesciunt quibusdam quaerat vitae laborum eos ipsam corporis quia omnis at voluptatibus dolore sint earum, modi, optio quae consequatur quisquam ut sed odit enim.
    Numquam voluptatum ex veniam sint nemo sit tempora aut obcaecati, pariatur illum. Nobis laborum omnis facilis, odit suscipit sit? Aliquam, sequi, veniam. Optio qui consequatur atque, odio nam, sequi deserunt.</div>
</div>
